header.page-header {
  width: 100%;
  height: 400px;
  position: relative;
  text-align: center;
  top: 110px;
  background-color: #F4976C;
  color: #ffffff;
  background-image: url('/images/header-background-stardust.png');
}

header.page-header > .img {
  padding-top: 1rem
}
