header {
  width: 100%;
  height: 400px;
  position: relative;
  text-align: center;
  top: 120px;
  background-color: #a15b40;
  color: #ffffff;
  background-image: url('/images/header-background-brick-wall.png');
}
