input {
  color: #FFFFFF;
  font-family: 'Bungee', sans-serif;
  background-color: #303C6C;
  border: none;
}

textarea {
  resize: none;
  width: 100%;
  border: none;
  border-bottom: 4px solid #545149;
  padding: 0.5em;
  background-color: transparent;

}

.counter {
  float: right;
}

.char-limit {
  color: #DB2929
}